html,
body {
  font-family: "Inter";
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

h1 {
  font-family: "Pacifico";
  letter-spacing: 2px;
  font-size: 2.5rem;
  color: #6b46c1;
  margin-bottom: 3rem;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 1.5rem;
}

li div {
  width: fit-content;
  background-color: #edf2f7;
  padding: 0.5rem;
  border-radius: 0.5rem 0.5rem 0.5rem 0;
}

li div div {
  width: 80vw;
  word-wrap: break-word;
}

#conversation-container {
  flex-grow: 1;
  padding: 1rem;
}

#form-container {
  min-height: auto;
  display: flex;
  gap: 0.5rem;
  padding: 1rem 1rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0.3rem 1rem;
}

#username-input {
  width: 20%;
}

#send-button {
  background-color: #6b46c1;
  color: #ffff;
  padding: 5px 14px 5px;
}
